<nav class="navigation-bar">
 <div class="navigation-top">Discover your favorite outfit online</div>
 <div class="navigation-bottom">
     <div class="logo-container">
        <a href="https://fashion-site2023-b1bf572760a8.herokuapp.com/">logo</a>
     </div>
     <div class="gender-container">
          <input type="radio" name="gender" id="men">
          <label for="men" class="gender-label">Men</label>
          <input type="radio"name="gender" id="women">
          <label for="women" class="gender-label">Women</label>
          <input type="radio" name="gender" id="kids">
          <label for="kids" class="gender-label">Kids</label>
          <input type="radio" name="gender" id="baby">
          <label for="baby" class="gender-label">Babies</label>
     </div>
     <div class="navIcons-container">
         <img  alt="" class="nav-icon search-icon">
         <img  alt="" class="nav-icon">
         <img  alt="" class="nav-icon">
         <img  alt="" class="nav-icon cart-icon">
     </div>

     <div class="searchbar-container">
        <form class="searchbar">
           <input type="text" class="search-input" name="keyword"  placeholder="search by keyword">
           <div class="search-icon-container">
            <img src="/assets/icons/search2.svg" alt="" class="searchbar-icon">
           </div>
           <button type="submit" style='display:none'}></button>
        </form>
        <div class="search-close-container">
            X
        </div>
    </div>
 </div>
</nav>
<div class="mobile-navigation-bottom">
    <div class="mobile-gender-container">
        <input type="radio" name="gender" id="men-mobile">
        <label for="men-mobile" class="mobile-gender-label">Men</label>
        <input type="radio"name="gender" id="women-mobile">
        <label for="women-mobile" class="mobile-gender-label">Women</label>
        <input type="radio" name="gender" id="kids-mobile">
        <label for="kids-mobile" class="mobile-gender-label">Kids</label>
        <input type="radio" name="gender" id="baby-mobile">
        <label for="baby-mobile" class="mobile-gender-label">Babies</label>
    </div>
</div>


