
<div class="offcanvas offcanvas-end" tabindex="-1" id="cart" aria-labelledby="offcanvasLabel">
  <div class="cart-header">
    <h5 class="cart-title" id="offcanvasLabel">
        cart
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </h5>
    <div>
       items : 
       <span class="cart-total-num">0</span>
    </div>
  </div>
  <div class="cart-body"></div>
  <div class="cart-footer">
    total price:$ 
    <span class="total-payment">0</span>
  </div>
  <div class="checkout">
     <button class="checkout-btn">checkout</button>
  </div>
</div>