

<div class="range-container">
 <label class="label">Price range</label>
 <div class="range-wrapper">
  <div class="indicator">
    <span class="number"></span>
    <span class="separator">-</span>
    <span class="number"></span>
  </div>
   <div class="slider-container">
    <div class="slider-track">
      <div class="slider-progress"></div> 
      <input type="range" class='slider-input' name='min' min="0" max="1000" value="0">
      <input type="range" class='slider-input' name='max' min="0" max="1000" value="1000">
    </div>
   </div>
 </div>
</div>
