.select{
    width: 100%;
    position: relative;
    user-select: none;
    cursor: pointer;
    box-sizing: border-box;
    padding: 0 15px 0 0;
}
.label{
    width: 100%;
    font-size: 1rem;
    font-weight: 700;
    color: #999994;
}
.selected-value-container{
    width:100%;
    height: 37px;
    font-size: 1rem;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1.5px solid #999994;
    box-sizing: border-box;
    background-color: #ede4e1;
}
.selected-value{
    pointer-events: none;
}
.down-arrow{
    width: 15px;
    height: 15px;
    pointer-events: none;
}
.up-arrow{
    display: none;
}
.select-menu{
    position: absolute;
    top: 100%;
    left: 0;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: #ede4e1;
    overflow: hidden;
    transition: all .2s linear;
    height:0px;
    z-index: 20;
}

.option{
    width: 100%;
    display: block;
    color: #222222;
    height: 30px;
}
.option:hover{
    background-color: rgba(0,0,0,.5);
}


@media screen and (max-width:650px){
    .select{
        padding: 0 0 15px 0;
    }
}